<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RT-Dashboard</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    
    <link rel="stylesheet" href="{% static 'js/style.js' %}" class="">
 
</head>

<body>
    <div id="main">
        <div id="sidebar">
            <ul id="sidebar-menu">
                <br><br><br>
                <li><a href="{% url 'home' %}">
                        <i class="ti-home"></i>
                        <label>Home</label>
                    </a></li>
                <li><a href="{% url 'reading' %}">
                        <i class="ti-book"></i>
                        <label>Reading</label>
                    </a></li>
                <li><a href="">
                        <i class="ti-notepad"></i>
                        <label>Notebook</label>
                    </a></li>
                <li><a href="{% url 'login' %}">
                        <i class="ti-settings"></i>
                        <label>Settings</label>
                    </a></li>
                <li><a href="{% url 'logout' %}">
                        <i class="ti-user"></i>
                        <label>Log in</label>
                    </a></li>
            </ul>
        </div>
        <div id="content">
            <div id="content-info">
                <h1>Reading Time</h1>
                <p>This is a website where you improve your reading skills through short stories</p>
                <p>Have fun with the Reading Time</p>
            </div>
            <div id="content-top">
                <div id="userInfo" class="content-top-item">
                    <h2>Nguyễn Huỳnh Bá Phúc</h2>
                    <div class="item-container">
                        <div class="user-info-item">
                            <p class="p1">Course</p>
                            <p class="p2">30/100</p>
                        </div>
                        <div class="user-info-item">
                            <p class="p1">Scores</p>
                            <p class="p2">123</p>
                        </div>
                        <div class="user-info-item">
                            <p class="p1">Vocabulary</p>
                            <p class="p2">13</p>
                        </div>
                    </div>
                </div>
                <div id="idiom" class="content-top-item">
                    <p class="idiom-idiom">Break a leg!</p>
                    <p class="idiom-meaning">Good luck! (an expression that is used in theater
                        performances.)</p>
                </div>
            </div>
            <div class="mt-4 container">
                <div id="content-main " class= "row">
                    {% for item in object_list %}
                    <div class="lesson col-sm-6 col-lg-4" style="margin-right: 30px;">
                        <div>
                            <a href="{% url 'read-page' item.id %}">
                                <h2>{{ item.name }}</h2>
                                <p>Status: unread/reading/done</p>
                            </a>
                        </div>        
                    </div>
                    {% endfor %}
                </div>
            </div>
            

            <div id="content-bot">

            </div>
        </div>
    </div>
</body>

</html>